/* Основные цвета */
/* #fff белый */
/* #202020 Серый (фон) */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    width: 100vw;
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #300a70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: 0px 0.3rem 0.5rem #33334d;
    border-bottom-right-radius: 2rem;
}

.nav__title,
.nav__section-title {
    color: #d7d7d7;
    font-size: 1.2rem;
}

.nav__section-title > h1{
    display: block;
    place-items: center;
    width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.search {
    width: 25vw;
    height: 60%;
    background-color: #380c84;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 1.5rem;
}

.search__input {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #d7d7d7;
    font-size: 1rem;
    border-right: #4e17ad solid 0.1rem;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #8c8c8c;
}

.search__button {
    background: #4e17ad;
    cursor: pointer;
    width: 4vw;
    height: 95%;
    border: none;
}

.search__button > svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: #d7d7d7;
}


main {
    width: 100%;
    display: flex;
}

/* Sections in menu.css */

.tasks {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks__container {
    width: 80%;
    height: 90%;
}

.tasks__add-container {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.tasks__input-add-task {
    width: 100%;
    height: 2.7rem;
    background: none;
    border: 0.1rem solid #300a70;
    border-radius: 0.9rem;
    padding: 0 2rem;
    transition: 0.3s;
    color: #d7d7d7;
}

.tasks__input-add-task:focus {
    outline: none;
    box-shadow: 0.2rem 0.2rem 0.5rem #300a70;
}


.tasks__btn-add-task {
    width: 2.7rem;
    height: 2.7rem;
    margin-left: 0.5rem;
    background-color: #380c84;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}

.tasks__btn-add-task > svg {
    width: 80%;
    height: 80%;
    fill: #d7d7d7;
}




.tasks__item-container {
    width: 95%;
    height: calc(65vh);
    overflow: auto;
}

.empty-item {
    width: 100%;
    height: 6rem;
    display: grid;
    place-items: center;
    color: #d7d7d7;
    font-size: 1rem;
}

.item {
    width: 100%;
    height: auto;
    min-height: 3rem;
    background-color: #30304777;
    display: flex;
    justify-content: space-between;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.item__content {
    width: 48rem;
    text-wrap: wrap;
    color: #d7d7d7;
    padding: 0.7rem;
    padding-left: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.item__buttons {
    display: flex;
}

.sections__del-item-button,
.item__btn-done,
.item__btn-del {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.sections__del-item-button > svg,
.item__btn-done > svg,
.item__btn-del > svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #d7d7d7;
    transition: 0.3s;
}

.tasks__done > h1 {
    color: #d7d7d7;
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.sections__del-item-button:hover > svg{
    fill: #8c8c8c;
}

