
.gamburger {
    cursor: pointer;
    width: 4vw;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6rem;
    margin-left: 0;
}

.gamburger__line {
    width: 100%;   
    height: 0.2rem;
    background-color: #d7d7d7;
    position: relative;
}

.gamburger__line::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #d7d7d7;
    transform: translateY(200%);
}

.gamburger__line::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #d7d7d7;
    transform: translateY(-200%);
}


/* Sections */

.sections_active {
    transform: translateX(0) !important;
}

.sections {
    width: 25vw;
    height: 80vh;
    background-color: #300a70;
    border-top: 0.2rem solid #303047;
    box-shadow: 0.3rem 0.3rem 0.5rem #33334d;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.sections__container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.sections__title {
    color: #d7d7d7;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sections__item-column {
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 3rem;
    max-height: 18rem;
}

.sections__item-column::-webkit-scrollbar {
    background-color: #380c84;
}

.sections__item-column::-webkit-scrollbar-thumb {
    background: #202020;
}

.sections__item {
    width: 100%;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #380c84;
    color: #d7d7d7;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    cursor: pointer;
} 

.sections__item > p {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sections__item:hover {
    background-color: #4e17ad;
}


.sections__add-item {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
}

.sections__input {
    width: 80%;
    height: 2.7rem;
    background: #202020;
    border: 0.1rem solid #303047;
    border-radius: 0.9rem;
    padding: 0 2rem;
    transition: 0.3s;
    color: #d7d7d7;
}

.sections__input:focus {
    outline: none;
    box-shadow: 0.2rem 0.2rem 0.5rem #202020
}

.sections__button {
    width: 2.6rem;
    height: 2.6rem;
    margin: 0.5rem;
    background-color: #202020;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.sections__button > svg {
    width: 80%;
    height: 80%;
    fill: #d7d7d7;
}